body 
{
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
}

ol 
{
    list-style-type: decimal;
    list-style-position: inside;
    color: white;
    width: 30%; 
}

li
 {
    background-color: #c2bfbf; 
    padding: 5px;
    margin-bottom: 10px; 
}

li span 
{
    background-color: #888787; 
    padding: 5px;
}
