li.S
{
    list-style-image: url('images/snowflake_16.png'); 
}
li.Q
{
    list-style-image: url('images/leaf_g_16.png'); 
}
li.R
{
    list-style-image: url('images/sun_16.png'); 
}
li.Y
{
    list-style-image: url('images/leaf_y_16.png'); 
}
li.W
{
    list-style-image: url('images/arrow-right_16.png'); 
}